.option-row{
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid white;
    background-color: #000000;
    
    height: 30px;
    width: 282px;
    align-items: center;
}
.option-row:hover{
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid white;
    background-color: #272727;
    
    height: 30px;
    width: 282px;
    align-items: center;
}

.option-image{
    height: 30px;
    width: 30px;
}
.option-text{
    text-align: center;
    
}